#--------OAuth2.0 Client Configuration---------
scope=
grant_type=password
username=admin
password=admin
client_id=pGCqb2eetFk7I0PILCYCuHYfAlMa
client_secret=5f8sxacF5zmScnUmm1aW9ctL6pwa
#access_token=
#refresh_token=
authentication_server_url=https://localhost:8245/token
resource_server_url=https://localhost:8245/countries/1.0.0/state/get/IND/all
#------------------------------------------------






















